.mod-page-container {
    display: flex;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 13px;
    flex-direction: column;
}

.mod-title {
    font-size: 50px;
    margin-left: 29px;
    color: #505D68;
}

.mod-container {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    justify-content: space-between;
}

.top-mod-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-evenly;
}

.module {
    display: block;
    border: 1px solid #A1AEB7;
    min-height: 339px;
}

.module-window-default {
    height: 198px !important;
}
/* 
.module-tag {
    border: 1px solid black;
    margin-bottom: 302px;
    flex-basis: 101px;
    background-color: #C2D1D9;
} */

.module-window-large {
    display: block;
    border: 1px solid #A1AEB7;
    min-height: 339px;
    flex-basis: 556px;
    background-image: url('../images/icon.png');
    background-size: 100% 100%;
}

.bottom-mod-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-evenly;
    margin-top: 30px;
}

.completed-title {
    margin-top: 142px;
    text-align: center;
    font-size: 50px;
    color: #505D68;
}

.completed-container {
    margin-top: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 95px;
}

.completed-module {
    display: block;
    border: 1px solid #A1AEB7;
    min-height: 339px;
}