body {
    font-family:'ubuntu';
    min-width: 900px;
    max-width: 2600px;
}

.resource-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
}

.resource-title {
    color: #505D68;
    font-size: 50px;
    text-align: center;
    margin-bottom: 65px;
}

.resource-module-top-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    height: 270px;
    margin-left: 150px;
    margin-right: 150px;
}

.resource-module {
    background: #F2F5F7;
}

.resource-module-title {
    font-size: 21px;
    text-align: center;
    padding-top: 46px;
}

.resource-module-info {
    font-size:16px; 
    color:#A1AEB7;
    min-width: 400px;
    padding-left: 27px;
    padding-right: 27px;
}

.resource-module-bottom-container {
    margin-top: 195px;
}

.resource-bottom-title {
    margin-bottom: 60px;
    font-size: 50px;
    color: #505D68;
}

.fresh-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 555px;
    gap: 30px;
    margin-bottom: 114px;
}

.fresh-content-small-card {
    display: flex;
    background: #FFFF;
    border: 1px solid black;
    min-height: 262px;
}

.small-card-info {
    padding-top: 14px;
    padding-left: 14px;
    min-width: 390px;
}

.small-card-image {
    background-image: url('../images/icon.png');
    height: 100%;
    min-width: 262px;
    background-size: 100% 100%;
}

.small-card-title {
    font-size: 21px;
    color: #505D68;
    padding-top: 14px;
}

.small-card-excerpt {
    color: #A1AEB7;
    font-size: 14px;
    padding-top: 14px;
}

.small-card-hyper-link {
    padding-top: 45px;
    text-decoration: underline;
}

.label {
    top: 8px;
    left: 8px;
    background-color: #C2D1D9;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 100px;
    color: #424B5A;
}


.fresh-content-large-card {
    background: white;
    border: 1px solid black;
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 460px;
}

.large-card-image {
    background-image: url('../images/icon.png');
    min-height: 50%;
    background-size: 100% 100%;
}

.large-card-info {
    display: flex;
    padding-left: 30px;
    padding-top: 34px;
    flex-direction: column;
}

.large-card-title {
    padding-top: 15px;
    font-size: 21px;
    color:#505D68;
}

.large-card-excerpt {
    padding-top: 7px;
    color: #A1AEB7;
    font-size: 14px;
}

.large-card-hyper-link {
    padding-top: 16px;
    font-size: 14px;
    text-decoration: underline;
}