body {
    font-family:'ubuntu';
    min-width: 900px;
    max-width: 2600px;
}
.mod-page-container {
    display: flex;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 13px;
    flex-direction: column;
}

.mod-title {
    font-size: 50px;
    margin-bottom: 68px;
    color: #505D68;
    font-weight: 800;
}

.mod-container {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    justify-content: space-between;
}

.top-mod-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-evenly;
}

.module {
    display: block;
    border: 1px solid #A1AEB7;
    min-height: 339px;
}

.module-window-default {
    height: 198px !important;
}

.module-window-large {
    display: block;
    border: 1px solid #A1AEB7;
    min-height: 339px;
    flex-basis: 556px;
    background-image: url('../images/icon.png');
    background-size: 100% 100%;
}

.module-label {
    position: relative;
    top: 8px;
    left: 8px;
    background-color: #C2D1D9;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 100px;
    color: #424B5A;
}

.bottom-mod-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-evenly;
    margin-top: 30px;
}

.completed-title {
    margin-top: 142px;
    text-align: center;
    font-size: 50px;
    color: #505D68;
    margin-bottom: 45px;
}

.completed-modules-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 95px;
    margin-left: 150px;
    margin-right: 150px;
}

.completed-module {
    flex-grow: 1;
    border: 1px solid white;
}
.completed-module-img-background {
    background-image: url('../images/icon.png');
    height: 200px;
    background-size: 100% 100%;
}

.completed-module-info {
    font-size: 21px;
    color:#505D68;
    margin-bottom: 46px;
}

/* ---------------------------*/

.new-modules-container {
    display: flex;
    max-width: 100%;
    height: 800px;
    flex-direction: column;
    gap: 20px;
}

.new-modules-top {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

.new-modules-bottom {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

.new-module-large {
    background-image: url('../images/icon.png');
    background-size: 100% 100%;
    flex-basis: 52%;
    border: 1px solid #A1AEB7;
    min-width: 556px;
}

.new-module-small {
    flex-basis: 25%;
    border: 1px solid #A1AEB7;
}

.new-module-title {
    font-size: 16px;
    color: #505D68;
}

.new-module-info {
    padding-left: 18px;
    padding-top: 24px;
    min-width: 260px;
}

.new-module-data {
    font-size: 14px;
    color: #A1AEB7;
    max-width: 220px;
    max-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-module-small-img-background {
    background-image: url('../images/icon.png');
    height: 200px;
    background-size: 100% 100%;
}